/* Global Reset */
* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
#sidebar {
    background-color: #FC783F;
    height: 100vh;
    padding: 1em;
}

#brand-name {
    font-weight: bold;
    font-size: 35px;
    color: white;
}

#nav-list {
    list-style: none;
    padding-left: 0;
    margin-top: 5em;
}

#nav-list li {
    margin-bottom: 1em;
}

#nav-list li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#nav-list li a img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: filter 0.3s ease;
}

#nav-list li:hover a {
    color: #FC783F;
    background-color: #fff;
    border-radius: 5px;
}

#nav-list li:hover a img {
    filter: brightness(0) saturate(100%) invert(48%) sepia(96%) saturate(1150%) hue-rotate(10deg) brightness(96%) contrast(93%);
}

#submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

#submenu li {
    list-style: none;
}

#submenu li a {
    display: flex;
    align-items: center;
    padding: 0.3em 1em;
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#submenu li a img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: filter 0.3s ease;
}

#submenu li:hover a {
    background-color: white;
    color: #FC783F;
    border-radius: 5px;
}

#submenu li:hover a img {
    filter: brightness(0) saturate(100%) invert(48%) sepia(96%) saturate(1150%) hue-rotate(10deg) brightness(96%) contrast(93%);
}

#submenu-toggle-icon.rotate {
    transform: rotate(180deg);
}

#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 12vh;
    padding: 0 2em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
}


#page-title {
    font-size: 2em;
    font-weight: bold;
}

#profile-section {
    display: flex; 
    align-items: center; 
}

#notification {
    margin-right: 1em; 
}

#profile {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    margin-left: 0.5em; 
}

#profile img {
    margin-top: 0.1em;
}

#profile-info {
    display: flex; 
    flex-direction: column;
    margin-left: 0.5em; 
}

/* #filters {
    margin: 2em;
}

#filters a {
    margin-right: 1em;
    font-weight: bold;
    padding: 0.5em 1em;
    border: 1px solid #FC783F;
    border-radius: 5px;
    color: #FC783F;
    text-decoration: none;
} */
#main-content{
    background-color: #f5f5f5;
}
#filters a:hover {
    background-color: #FC783F;
    color: white;
}

#content-box {
    height: 65vh;
    background-color: #f5f5f5;
    margin: 2em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#body-content{
    margin-top: 4em;
    width: 100%;
    height: 70vh;
    background-color: gray;
}