.content-box {
    background-color: #f5f5f5;
    width: 100%;
    height: 65vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.Returned-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    margin-top: 3.6em;
}


hr {
    height: 2px;
    background-color: black;
    border: none;
    width: 100%;
    margin: 0 auto;
}

#Returend-d1 {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Search */
.input {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
    /* position: relative; */
    /* top: 10px;
    right: 20em;
    bottom: 4em; */
    
}

/* .search-bar {
    position: relative;
} */

.search-bar input {
    width: 300px;
    height: 40px;
    padding: 10px 40px 10px 15px;
    border: 1px solid #7d6966;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    color: #7d6966;
    transition: border-color 0.3s ease;
}

.search-bar .search-icon {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
}

/* Buttons */
.sort-btn {
    font-size: 16px;
    padding: 10px 20px; 
    border: none;
    border-radius: 30px;
    background-color: #ff6600; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.filter-btn{
    font-size: 16px;
    padding: 10px 20px; 
    border: 1px solid #ff6600;
    background-color: white;
    color: #ff6600;
    border-radius: 30px;
}
.sort-btn img, .filter-btn img {
    margin: 0 5px; 
}
.addbtn {
    position: relative;
    left: 34em;
    font-size: 16px;
    margin: 20px  20px 5px 20px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.addbtn {
    background-color: #ff6600;
    color: white;
    border: none;
}

/* .sort-btn img:hover{
    filter: brightness(0) saturate(100%) invert(48%) sepia(96%) saturate(1150%) hue-rotate(10deg) brightness(96%) contrast(93%);
} */

/* .sort-btn:hover{
    background-color: white;
    color: #ff6600;
    border: 1px solid #ff6600;
} */

/* .filter-btn:hover {
    border: 1px solid #ff6600;
    background-color: #ff6600;
    color: white;
} */

/* .filter-btn img:hover {
    filter: brightness(0) invert(1); 
} */
/* User Table */
.Returned-table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    overflow-y: auto;
    border-spacing: 10px;
}

.Returned-table th,
.Returned-table td {
    text-align: left;
    padding: 20px;
}

.Returned-table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.Returned-table tr {
    border-bottom: 1px solid #7d6966;
}
.Returned-table td{
    background-color: white;
}

.act {
    color: #e55a00;
    text-decoration: underline;
}

/* Pagination */
.Returned-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.Returned-pagination a {
    text-decoration: none;
    color: #7d6966;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* .Inventory-pagination a:hover {
    background-color: #f0f0f0;
} */

.Returned-pagination .active {
    background-color: #e55a00;
    color: white;
}

.Returned-pagination span {
    padding: 0 10px;
}