#stats-btn4{
    margin-right: 6em;
    color: #33363F;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */

}
#stats-btn4, #addtofav-btn {
    border: none;
    background-color: white;
    margin-top: 1em;
    border-radius: 30px;
    margin-bottom: 1em; 
    padding-right: 15px;
  
}
.cancel-button{
    margin-top: 1em;
}
